services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: reniec
      POSTGRES_USER: reniec
      POSTGRES_PASSWORD: reniec
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
